<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action = "{% url 'login' %}" method = POST>
        {% csrf_token %}
        <input type="text" placeholder="username" name = "username">
        <br>
        <input type="password" placeholder="Senha" name="senha">
        <br>
        <input type="submit" value="Logar">
        <span>
            Não tem conta? <a href = "{% url 'cadastro' %}">Cadastre-se</a>
        </span>
    </form>
</body>
</html>